html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    overflow: hidden;
    margin: 0px;
    background-color: rgb(32, 43, 48);
}


.ContainerLeft {
    overflow: hidden;
    color: white;
    background-color: rgb(79, 169, 184);
    border-radius: 0px 320px 0px 0px;
    position: absolute;
    left: -10px;
    height: 1000PX;
    width: 50%;
    color:black;
    font-family: 'Sans Serif Collection';
    padding: 45px;
    padding-top: 100px;
}
.ContainerLeft a:hover, .ContainerLeft a::after {
    transition-duration: .5s;
    text-shadow: 2px 2px 2px white;
}

.ContainerRight {
    overflow: hidden;
    color: white;
    position: absolute;
    height: 900PX;
    width: 50%;
    top: 150px;
    color: #4FA9B8;
    font-family: 'Sans Serif Collection';
    padding: 45px;
    padding-top: 100px;
    font-size: 20px;
}
button:hover {
    transition-duration: .5s;
    box-shadow: 2px 2px 2px white;
}

.create-container {
    margin-top: 85px;
    padding: 40px;
    position: absolute;
    width: 75%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    background-color: rgb(32, 43, 48);
    color: white
}

.logo {
    font-size: 20px;
    position: relative;
    width: 550px;
    left: 50px;
    top: 115px;
    padding: 30px;
    color: black;
}

.icons {
    position: absolute;
    padding: 0px;
    margin: 0px;
}


.icons i {
        margin-bottom: 5px;
        font-size: 40px;
    }

.title {
    font-size: 135px;
    position: relative;
    left: 50px;
    top: -140px;
}

.bodypar {
    font-size: 20px;
    margin-top: -170px
}

.footer-logo {
    position: relative;
    margin-top: 70px;
}

ul li a {
    text-decoration: none;
    color: #4FA9B8;
}

td a {
    color: #202B30;
}
ul li {
    text-decoration: none;
    color: #4FA9B8;
    margin-right: 55px;
    padding:10px;
    font-size: 20px;
    font-family: 'Sans Serif Collection';
}
ul li:hover {
    box-shadow: 5px 5px 10px black;
}
li a:hover {
    color: #4FA9B8;
}
    ul li:hover {
        margin-right: 55px;
        font-size: 20px;
        font-family: 'Sans Serif Collection';
        border-bottom: inset;
        color: #4FA9B8;
    }

.index {
    margin-top: 10%;
    margin-left: 13%;
    padding: 40px;
    position: absolute;
    width: 75%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    background-color: #4FA9B8;
    color: #202B30;
}

.About {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #202B30;
    color: #4FA9B8;
    padding:0px;
    margin:0px;
}
.AboutContainer {
    width: 80%;
    left: 12.5%;
    top:10%;
    position: absolute;
    height: 75%;
}
.person {
    background-color: #4FA9B8;
    height: 350px;
    margin: 25px;
    border-radius: 20px;
    transition-duration: .5s;
}
.person:hover,.person:hover::after {
    background-color: #4FA9B8;
    height: 350px;
    margin: 25px;
    border-radius: 20px;
    transition-duration:.5s;
    box-shadow: 5px 5px 5px white;
}
.person i:hover, .person i:hover::after {
    transition-duration: .3s;
    text-shadow: 2px 2px 2px white;
}

img {
    height: 50%;
    width: 90%;
}

