html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    overflow:hidden;
    margin: 0px;
    background-color: rgb(79, 169, 184);
}


.ContainerLeft {
    overflow: hidden;
    color: white;
    background-color: rgb(32, 43, 48);
    border-radius: 0px 320px 0px 0px;
    position: absolute;
    left: -10px;
    height: 1000PX;
    width: 50%;
    color: white;
    font-family: 'Sans Serif Collection';
    padding: 45px;
    padding-top: 100px;
}

.ContainerRight {
    overflow: hidden;
    color: white;
    position: absolute;
    height: 900PX;
    width: 50%;
    top: 150px;
    color: rgb(32, 43, 48);
    font-family: 'Sans Serif Collection';
    padding: 45px;
    padding-top: 100px;
    font-size: 20px;
}

.logo {
    font-size: 20px;
    position: relative;
    width: 550px;
    left: 50px;
    top: 115px;
    padding: 30px;
    color: rgb(79, 169, 184);
}

.icons {
    position: absolute;
    padding: 0px;
    margin: 0px;
}

    .icons i {
        margin-bottom: 5px;
        font-size: 40px;
    }

.title {
    font-size: 135px;
    position: relative;
    left: 50px;
    top: -140px;
}

.bodypar {
    font-size: 20px;
    margin-top: -170px
}

.footer-logo {
    position: relative;
    margin-top: 70px;
}

ul li {
    margin-right: 50px;
    font-size: 20px;
    font-family: 'Sans Serif Collection';
}
    ul li:hover {
        margin-right: 50px;
        font-size: 20px;
        font-family: 'Sans Serif Collection';
        border-bottom:inset;
        border-color: rgb(32, 43, 48);
    }

.index {
    margin-top:10%;
    margin-left: 13%;
    padding: 40px;
    position: absolute;
    width: 75%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    background-color: rgb(32, 43, 48);
    color: white
}
.create-container {
    margin-top: 85px;
    padding: 40px;
    position: absolute;
    width: 75%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    background-color: rgb(32, 43, 48);
    color: white
}

