html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    overflow: hidden;
    margin-bottom: 60px;
    background-color: rgb(79, 169, 184);
    height:contain;
}

.ContainerLeft {
    overflow: hidden;
    color: white;
    background-color: rgb(32, 43, 48);
    border-radius: 0px 320px 0px 0px;
    position:absolute;
    left:-10px;
    height: 800PX;
    width: 800px;
    color: white;
    font-family:'Sans Serif Collection';
    padding:45px;
    padding-top:100px;
}
.title{
    font-size:150px;
    position:relative;
    left:50px;
    top:-160px;
}
.bodypar{
    font-size:25px;
    margin-top: -170px
}

ul li {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Sans Serif Collection';
}



