@page
@model InventoryManagement.Pages.About.IndexModel
@{
    ViewData["Title"] = "Index";
}
@{
    
    string KLOYD = "https://scontent.fmnl13-1.fna.fbcdn.net/v/t39.30808-6/309744592_5881675865217810_7091363469412570795_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGN4H0ImhoG2S-j1LsK7CTY1Tq3ZCEnFmjVOrdkIScWaIUsE3PENkdFgP-UEnqKrcoDVH2higWaPlf26S4CPmLp&_nc_ohc=uYjvaLU0CgcAX90-6qg&tn=U4lDJx3z2e9qldub&_nc_ht=scontent.fmnl13-1.fna&oh=00_AfBtuC0PCF-7LEpSBRRJwho0pAOpF3azmAuCzek91vPqoA&oe=6386222A";
    string DANIEL = "https://scontent.fmnl13-2.fna.fbcdn.net/v/t39.30808-6/287454785_715371623009214_2708427972147488662_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=muTGR8hCUbgAX9xH2SE&_nc_ht=scontent.fmnl13-2.fna&oh=00_AfBlFAcpTgvMrC9B9BUDFaqWvlu9u0yZRe4Cfq5QfiAhWg&oe=6385E276";
    string MITCH = "https://scontent.fmnl13-1.fna.fbcdn.net/v/t39.30808-6/313252162_5269454273177921_8494363977874888107_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEf5HW91x-hYl3SPfHvKHxWhe5cLHYzp4WF7lwsdjOnhZUY0nmhKLod6SJfccpsrbISy0TFgk83NuwBZlhAw0oe&_nc_ohc=kI7VQzRxKesAX8rWaEl&_nc_oc=AQmRW1gSsgojqGPrmi1nja3kateLuJsWg_6PnyHolIol2KoQ3eo_yQlxw8Ixg7hZeyU&_nc_ht=scontent.fmnl13-1.fna&oh=00_AfDHZiBO6m_r2YcYnqBVYRrwUYokGrSGLXE72eJkQZcbgg&oe=6386A30C";
    string JK = "https://scontent.fmnl13-2.fna.fbcdn.net/v/t39.30808-1/299971213_5446709895420916_6920227644148545120_n.jpg?stp=dst-jpg_p200x200&_nc_cat=108&ccb=1-7&_nc_sid=7206a8&_nc_eui2=AeFOm0qwNW9Uz5RGpN9Qg7Ulob88XasJaLOhvzxdqwlosy3yzGQkl7swLS3GMbzBQbwI-T97yrRx4sf0FtE4dpAC&_nc_ohc=jcpMPD_6FmIAX8RbH0s&_nc_ht=scontent.fmnl13-2.fna&oh=00_AfAz-sGZkoaySl1EfFOeygZxw_L2ipW84wPqCy00fOFGQA&oe=6386C4AA";
}
<script src="https://kit.fontawesome.com/2af456f012.js" crossorigin="anonymous"></script>

<div class="About" style="font-family:'Times New Roman', Times, serif">
    <div class="AboutContainer align-content-center" align="center" >
        <h1 style="font-weight:500;font-size:100px;">OUR TEAM</h1>
        <hr style="height:3px"/>
            <div class="container" style="position:absolute;">
                    <div class="row ">
                        <div class="col-sm-2 person text-black" style="margin-left:10%">
                            <br />
                            <img src="@MITCH" class="rounded-circle"/>
                            <br />
                            <h4>
                                MITCH<br />
                                U.X
                            </h4>
                            <hr class="bg-black" />
                            <div class="row text-black" style="width:100px">
                                <div class="col m-0 p-0">
                                    <i class="fa-brands fa-instagram fa-3x"></i>
                                </div>
                                <div class="col m-0 p-0">
                            <a href="https://www.facebook.com/Chenjgeon" class="text-black"><i class="fa-brands fa-square-facebook fa-3x"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 person text-black">
                            <br />
                            <img src="@JK" class="rounded-circle"/>
                            <br />
                            <h4>
                                JOHN KENNETH<br />
                                U.I
                            </h4>
                            <hr class="bg-black" />
                            <div class="row text-black" style="width:100px">
                                <div class="col m-0 p-0">
                                    <i class="fa-brands fa-instagram fa-3x"></i>
                                </div>
                                <div class="col m-0 p-0">
                                <a href="https://www.facebook.com/nothingtosayyyq" class="text-black"><i class="fa-brands fa-square-facebook fa-3x"></i></a>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-2 person text-black"><br />
                            <img src="@KLOYD" class="rounded-circle"/>
                            <br/>
                            <h4>KLOYD<br/>
                            Programmer 1
                            </h4>
                            <hr class="bg-black"/>
                            <div class="row text-black" style="width:100px">
                                <div class="col m-0 p-0">
                                <a href="https://www.instagram.com/KloweedEveryday/" class="text-black"><i class="fa-brands fa-instagram fa-3x"></i></a>
                                </div>
                                <div class="col m-0 p-0">
                                    <a href="https://www.facebook.com/KloweedEveryday" class="text-black"><i class="fa-brands fa-square-facebook fa-3x"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 person text-black"><br />
                    <img src="@DANIEL" class="rounded-circle" />
                            <br/>
                            <h4>DANIEL<br/>
                            Programmer 2
                            </h4>
                            <hr class="bg-black"/>
                            <div class="row text-black" style="width:100px">
                                <div class="col m-0 p-0">
                                    <i class="fa-brands fa-instagram fa-3x"></i>
                                </div>
                                <div class="col m-0 p-0">
                            <a href="https://www.facebook.com/daniel.dalde.52" class="text-black"><i class="fa-brands fa-square-facebook fa-3x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
            <a href="~/Index" class="btn btn-outline-light" style="width:100px;border-color:#4FA9B8;position:absolute;left:45%;">Home</a>
            </div>
    </div>

</div>
