@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script src="https://kit.fontawesome.com/2af456f012.js" crossorigin="anonymous"></script>
</head>
<div class="ContainerLeft">
    <i class="fa-solid fa-cubes position-relative fa-7x mx-lg-5 mt-xl-2"></i>
    <div class="text-center">
        <h1 class="title">VLLD</h1>
    </div>
    <br />
    <p class="bodypar" align="justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <button style="border-radius:20px; width:120px; background-color:rgb(79, 169, 184); color:whitesmoke">
        Learn More
    </button>
    <br />
    <br />
    <div class="footer-logo">
        <i class="fa-brands fa-square-facebook fa-3x"></i>
        <i class="fa-brands fa-twitter ms-lg-3 fa-3x"></i>
        <i class="fa-brands fa-instagram ms-lg-3 fa-3x"></i>
    </div>

</div>
