<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventoryManagement.styles.css" asp-append-version="true" />
</head>
<body style="margin:0px; padding:0px;">
    <header class="py-1 px-1 my-1 mx-1 float-end">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent float-lg-end p-4 me-lg-5">
                <ul class="navbar-nav">
                    <li class="nav-item active text-decoration-underline">
                        <a class="nav-link" href="Index">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="Personel">Personel</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="Delivered">Delivery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
        </nav>
    </header>
    <div class="container m-0 p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>